@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 960px;
    color: #4E5150;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;

        .profile__image {
            height: 156px;
            width: auto;
            border-radius: 16px;
            margin-bottom: 16px;
        }
        .profile__username {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 8px;
        }
        .profile__address {
            color: #A9A9A9;
        }
    }
    .stats {
        display: flex;

        .stats__item {
            margin: 0 24px;
            background: #E5E5E5;
            border-radius: 12px;
            width: 100px;
            height: 67px;
            font-weight: 600;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .item__count {
                font-size: 18px;
            }
            .item__type {
                font-size: 14px;
                color: #BDBDBD;
            }
        }
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(3,299px);
    grid-template-rows: repeat(3,299px);
    grid-auto-flow: dense;
    justify-items: stretch;
    gap: 29px;
    margin-bottom: 134px;

    .main__image {
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    }
    .main__image_wide {
        grid-column: auto / span 2;
    }
    .main__image_high {
        grid-row: auto / span 2;
        height: 100%;
    }
}

.footer {
    text-align: center;
    color: #B9BDCF;
    padding-bottom: 24px;

    .description__username {
        text-decoration: underline;
        font-weight: 600;
    }
}

@media (max-width: 1000px) {
    body {
        margin-top: 30px;
        width: auto;
    }

    .header {
        margin-bottom: 39px;

        .profile {
            margin-bottom: 12px;

            .profile__image {
                height: 100px;
                margin-bottom: 12px;
            }
            .profile__username {
                font-size: 14px;
            }
            .profile__address {
                font-size: 10px;
            }
        }
        .stats {
            .stats__item {
                width: 78px;
                height: 52px;
                margin: 0 6px;

                .item__type, .item__count {
                    font-size: 12px;
                }
           }
        }
    }

    .main {
        grid-template-columns: repeat(3, 109px);
        grid-template-rows: repeat(3,109px);
        gap: 12px;
        margin-bottom: 44px;
    }

    .footer {
        font-size: 14px;
    }
}